# -----------------------------------------------------------------------------
# Site settings
# -----------------------------------------------------------------------------

title: Rachmania Ulwani
first_name: Rachmania
middle_name: ""
last_name: Ulwani
email: rachmania.ulwani@student.ubc.ca
contact_note: >
  UBC Geographical Science Student | Specializing in Climatology & Hydrology
description: >
  A portfolio of Urban Planning, GIS, and Environmental Research.
footer_text: >
  Copyright © 2025 Rachmania Ulwani. Powered by Jekyll.
keywords: urban planning, gis, climatology, ubc
lang: en
icon: ⚛️

url: "https://rachmaniaulwani.github.io"
baseurl: ""

# -----------------------------------------------------------------------------
# Jekyll Scholar
# -----------------------------------------------------------------------------

scholar:
  last_name: [Ulwani]
  first_name: [Rachmania]
  style: apa
  locale: en
  source: /_bibliography/
  bibliography: papers.bib
  bibliography_template: bib
  bibtex_filters: [latex, smallcaps, superscript]
  replace_strings: true
  join_strings: true
  details_dir: bibliography
  details_link: Details
  query: "@*"
  group_by: year
  group_order: descending
  enable_publication_badges:
    altmetric: true
    dimensions: true
    google_scholar: true
    inspirehep: true
  filtered_bibtex_keywords: [abbr, abstract, additional_info, arxiv, bibtex_show, html, pdf, poster, slides, supp, video, website]
  max_author_limit: 3
  enable_publication_thumbnails: true

# -----------------------------------------------------------------------------
# Theme Settings
# -----------------------------------------------------------------------------

navbar_fixed: true
footer_fixed: true
search_enabled: true
socials_in_search: true
posts_in_search: true
bib_search: true
max_width: 930px
enable_masonry: true
enable_math: true
enable_tooltips: false
enable_darkmode: true
enable_navbar_social: false
enable_project_categories: true
enable_medium_zoom: true
enable_progressbar: true
enable_video_embedding: false

# -----------------------------------------------------------------------------
# Standard Settings
# -----------------------------------------------------------------------------

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter_opts:
    css_class: "highlight"

include: ["_pages", "_scripts"]
exclude:
  - bin/
  - CONTRIBUTING.md
  - CUSTOMIZE.md
  - Dockerfile
  - docker-compose.yml
  - docker-compose-slim.yml
  - FAQ.md
  - Gemfile
  - Gemfile.lock
  - INSTALL.md
  - LICENSE
  - lighthouse_results/
  - package.json
  - package-lock.json
  - _pages/about_einstein.md
  - purgecss.config.js
  - README.md
  - readme_preview/
  - vendor
keep_files:
  - CNAME
  - .nojekyll

plugins:
  - jekyll-archives-v2
  - jekyll-email-protect
  - jekyll-feed
  - jekyll-get-json
  - jekyll-imagemagick
  - jekyll-jupyter-notebook
  - jekyll-link-attributes
  - jekyll-minifier
  - jekyll-paginate-v2
  - jekyll-regex-replace
  - jekyll/scholar
  - jekyll-sitemap
  - jekyll-tabs
  - jekyll-terser
  - jekyll-toc
  - jekyll-twitter-plugin
  - jemoji

defaults:
  - scope:
      path: "assets"
    values:
      sitemap: false

sass:
  style: compressed

jekyll-archives:
  posts:
    enabled: [year, tags, categories]
    permalinks:
      year: "/blog/:year/"
      tags: "/blog/:type/:name/"
      categories: "/blog/:type/:name/"
  books:
    enabled: [year, tags, categories]

# -----------------------------------------------------------------------------
# Image Settings (Disable to fix crashes)
# -----------------------------------------------------------------------------

imagemagick:
  enabled: false

enable_publication_thumbnails: false
